.titulo{
    font-size: 30px;
    padding-left: 40%;
}

.formatoCola{
    padding-top: 5%;
    padding-left: 25%;
}

.caja{
    background-color: grey;
    width: 70px;
    height: 70px;
}

.numero{
    font-size: 25px;
    padding: center;
    text-align: center;
    padding-top: 25%;
    }

.formatoBotones{
    padding-top: 10%;
    padding-left: 48%;
    padding-right: 100px;
}

